/* ef-cherie syntax highlighting for Chroma output */
.highlight pre,
.bg,
.chroma {
  color: var(--ef-fg-main);
  background-color: var(--ef-bg-main);
}

.highlight pre {
  border-color: var(--ef-border);
}

.highlight pre code,
.chroma code {
  color: inherit;
  background: transparent;
}

.chroma .err,
.chroma .gr,
.chroma .gt {
  color: var(--ef-red-warmer);
}

.chroma .lnlinks {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.chroma .lntd {
  padding: 0;
  margin: 0;
  vertical-align: top;
  border: 0;
}

.chroma .lntable {
  padding: 0;
  margin: 0;
  border: 0;
  border-spacing: 0;
}

.chroma .hl {
  background-color: var(--ef-bg-active);
}

.chroma .lnt,
.chroma .ln {
  padding: 0 0.4em;
  margin-right: 0.4em;
  color: var(--ef-fg-dim);
  white-space: pre;
  user-select: none;
}

.chroma .line {
  display: flex;
}

.chroma .k,
.chroma .kp,
.chroma .kr {
  color: var(--ef-magenta);
}

.chroma .kc {
  color: var(--ef-red-cooler);
}

.chroma .kd,
.chroma .kt {
  color: var(--ef-magenta-warmer);
}

.chroma .kn {
  color: var(--ef-cyan);
}

.chroma .n,
.chroma .nx {
  color: var(--ef-fg-main);
}

.chroma .na,
.chroma .nd {
  color: var(--ef-cyan);
}

.chroma .nb,
.chroma .bp {
  color: var(--ef-blue-warmer);
}

.chroma .nc,
.chroma .no,
.chroma .nf,
.chroma .fm {
  color: var(--ef-yellow-cooler);
}

.chroma .ni,
.chroma .nl {
  color: var(--ef-cyan-cooler);
}

.chroma .ne {
  color: var(--ef-red);
}

.chroma .nn,
.chroma .py {
  color: var(--ef-yellow-warmer);
}

.chroma .nt {
  color: var(--ef-magenta);
}

.chroma .nv,
.chroma .vc,
.chroma .vg,
.chroma .vi,
.chroma .vm {
  color: var(--ef-magenta-cooler);
}

.chroma .s,
.chroma .sb,
.chroma .sc,
.chroma .s2,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .s1,
.chroma .ss {
  color: var(--ef-yellow);
}

.chroma .sa {
  color: var(--ef-red-cooler);
}

.chroma .dl {
  color: var(--ef-magenta-faint);
}

.chroma .sd {
  color: var(--ef-magenta-faint);
}

.chroma .se {
  color: var(--ef-cyan-warmer);
}

.chroma .sr {
  color: var(--ef-red);
}

.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .il,
.chroma .mo {
  color: var(--ef-red-cooler);
}

.chroma .o,
.chroma .ow {
  color: var(--ef-cyan);
  font-weight: 700;
}

.chroma .c,
.chroma .ch,
.chroma .cm,
.chroma .c1,
.chroma .cs,
.chroma .cp {
  color: var(--ef-yellow-faint);
  font-style: italic;
}

.chroma .cpf {
  color: var(--ef-yellow-faint);
  font-weight: 700;
  font-style: italic;
}

.chroma .gd {
  color: var(--ef-red-warmer);
  background-color: var(--ef-bg-removed-faint);
}

.chroma .ge {
  font-style: italic;
}

.chroma .gh,
.chroma .gu {
  color: var(--ef-yellow-warmer);
  font-weight: 700;
}

.chroma .gi {
  color: var(--ef-green-cooler);
  background-color: var(--ef-bg-added-faint);
}

.chroma .go,
.chroma .gp {
  color: var(--ef-fg-dim);
}

.chroma .gs {
  font-weight: 700;
}

.chroma .gl {
  text-decoration: underline;
}
