<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ if .Title }}{{ .Title }} · {{ end }}{{ .Site.Title }}</title>
<link
    rel="alternate"
    type="application/rss+xml"
    href="{{ .Site.BaseURL }}index.xml"
/>
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="alternate icon" type="image/png" href="/favicon.png" sizes="32x32" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<meta name="theme-color" content="#d47fa6" />
<!-- opcional fallback -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Marcellus&display=swap"
    rel="stylesheet"
/>
{{ $css := resources.Get "css/lirio.css" | minify | fingerprint }}
<link
    rel="stylesheet"
    href="{{ $css.Permalink }}"
    integrity="{{ $css.Data.Integrity }}"
/>
