<header class="site-header">
  <div class="container-fluid">
    <nav aria-label="Navegação principal">
      <ul>
        <li>
          <a class="brand" href="/">
            <img alt="{{ .Site.Title }}" src="/favicon.svg" />
            <span>{{ .Site.Title }}</span>
          </a>
        </li>
      </ul>
      <ul class="nav-links">
        <li><a href="/posts/">Posts</a></li>
        <li><a href="/tags/">Tags</a></li>
        <li><a href="/about/">Sobre</a></li>
        <li><a href="/index.xml">RSS</a></li>
      </ul>
    </nav>
  </div>
</header>
