<header class="site-head">
  <div class="wrap">
    <a class="brand" href="/">
      <img alt="Monique" src="/favicon.svg">
      <span>{{ .Site.Title }}</span>
    </a>
    <nav class="nav">
      <details>
        <summary>Menu</summary>
        <div class="chips" role="list">
          <a href="/posts/" class="chip">Posts</a>
          <a href="/categories/" class="chip">Categorias</a>
          <a href="/about/" class="chip">Sobre</a>
          <a href="/index.xml" class="chip">RSS</a>
        </div>
      </details>
    </nav>
  </div>
</header>
